/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,200,300');

body {
  background-color: #EDEDED;
  font-family: Raleway, sans-serif;
  font-weight: 200;
  color: #666;
  margin: 0;
  
}

.creport-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  margin-top:-30%;
  
}

a {
  text-decoration: none;
  color: #fefefe !important;
  
  
}
a:hover {
  color: rgb(63, 97, 222) !important;
  
}
.article {
  width: 320px;
  overflow: hidden;
  margin: 20px;
  background: #1c262f;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: relative;
  
}

.article-title {
  font-weight: 300;
  font-size: 200%;
}

.article-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 150px;
  overflow: hidden;
  
}

.article-header .inner {
  position: relative;
  transform: translateY(-50px);
  transition: transform 0.5s ease;
  
}

.article:hover .inner {
  transform: translateY(0);
}

.article-header h2 {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
  background: black;
  color: white;
  font-weight: 300;
  font-size: 16px;
}
.article-header img {
  width: 320px;
  
}

.article-body {
  position: relative;
  padding: 20px 20px;
  
}

.article-body span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #e74c3c;
  color: #FFF;
  font-weight: 400;
  opacity: 0;
  transition: all 500ms ease;
}

/* Styles for the "Go" button */
.article-body button {
  background-color: #c20606;
  color: #FFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  opacity: 0;
  transition: all 500ms ease;
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.article:hover .article-body button {
  opacity: 1;
  background-color: #901b1b;
}

.show-more-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  
}

.show-more-button button {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
  border-radius: 5px;
}

.show-more-button button:hover {
  width: 200px;
  border: 3px solid #901b1b;
  background: transparent;
  color: #901b1b;
}
